{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>Ajouter un type de chaussure</title>
{% endblock %}

{% block body %}
    <h2>Ajout d'un type de chaussure</h2>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="post" action="/admin/type-chaussure/add" {#action="{{ url_for('valid_add_type_chaussure') }}"#} >
        <fieldset>
            <form>
                <div class="form-group">
                    <label for="nom_type_chaussure"> Nom du type de chaussure</label><br>
                    <input id="nom_type_chaussure" type="text" name="nom_type_chaussure" size="18" value=""
                           placeholder="Saisir le nom de la chaussure" required>
                </div>
            </form>
            <br>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </fieldset>
    </form>

{% endblock %}
