{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>Afficher les types de chaussure</title>
{% endblock %}

{% block title %}
    <title>Supprimer une type chaussure</title>
{% endblock %}

{% block body %}
    <h2>Supprimer une type chaussure</h2>
<br>
{#    {% set count = 1 %}
    {% for ligne in chaussuresToDelete %}
        {{ count }}
        {% set count = count + 1 %}
    {% endfor %}#}
    <p><b><em>Attention!</em></b> Si vous supprimer cette type chaussure, ces type de chaussure seront également supprimés.</p>


    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    <table class="table">
    <thead></thead>
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Stock</th>
            <th>Type chaussure</th>
            <th>Image</th>
            <th>Opération</th>
        </tr>
        </thead>
        <tbody>
        {% if chaussureToDelete | length >= 1 %}
            {% for ligne in chaussureToDelete %}
                <tr>
                    <td>{{ ligne.id_chaussure }}</td>
                    <td>{{ ligne.nom_chaussure }}</td>
                    <td>{{ ligne.stock_chaussure}}</td>
                    <td>{{ ligne.id_type_chaussure }}</td>
                    <td>
{#                        {{ ligne.image }}#}
                        {% if ligne.image_chaussure is not none %}
                            <img style="width:40px;height:40px"
                                 src="{{ url_for('static', filename = 'images/' + ligne['image_chaussure']) }}"
                                 alt="image_chaussure  de {{ ligne.nom_chaussure }}">
                        {% else %}
                            <img style="width:40px;height:40px"
                                 src="{{ url_for('static', filename='images/no_photo.png') }}" alt="no image">
                        {% endif %}
                    </td>
                    <td>
                        <a href="/chaussure/delete?id={{ ligne.id_chaussure }}"
                           onclick="return confirm('Are you sure?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    Pas un article.
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
