{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>Modifier un type de chaussure</title>
{% endblock %}

{% block body %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="post" action="/admin/type-chaussure/edit">
        <fieldset>
            <legend> Modifier un type chaussure</legend>
            <div class="mb-3">
                <input type="hidden" name="id_type_chaussure" size="18" value="{{ type_chaussure.id_type_chaussure }}"
                       id="id_type_chaussure">
                <label for="nom_type_chaussure">Nom du type</label><br>
                <input type="text" name="nom_type_chaussure" size="18" value="{{ type_chaussure.nom_type_chaussure }}">
                <br>
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Valider</button>
            </div>
            {#        <input type="submit" value="Modifier" name="Modifier" >#}

        </fieldset>
    </form>
{% endblock %}
