h1 {
    color: green;
}

br, h2 {
    color: blue;
}

#container {
    width: 60%;
    height: 60%;
    padding: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
table, tr {
    font-family: Arial;
    table-layout: fixed;
    text-align: center;
    /*width: 100%;*/
    /*height: 60px;*/
    border-collapse: collapse;
}
form {
    font-family: Arial;
    margin: 5px;
    padding: 5px;
}