{% extends "admin/layout_admin.html" %}
{% block body %}
    <div class="container-fluid">
        <h3>Récapitulatifs de la commande sélectionnée</h3>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Prix total</th>
            </tr>
            </thead>
            <tbody>
            {% for chaussure in chaussures %}
                <tr>
                    <td>{{ chaussure.id_commande }}</td>
                    <td>{{ chaussure.quantite }}</td>
                    <td>{{ chaussure.prix_unit }}</td>
                    <td>{{ chaussure.prix_total }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <div>Etat de la commande : {{ etat.libelle_etat }}</div>
        </table>
    </div>
{% endblock %}

