{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>Ajouter un chaussure</title>
{% endblock %}

{% block body %}
    <h2>Ajout d'un chaussure</h2>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="post" action="/admin/chaussure/add" {#action="{{ url_for('valid_add_type_station') }}"#} >
        <fieldset>
            <form>
                <div class="form-group">
                    <label for="nom_chaussure"> Nom de la chaussure</label><br>
                    <input id="nom_chaussure" type="text" name="nom_chaussure" size="18" value=""
                           placeholder="Saisir le nom de la chaussure" required>
                </div>
                <div class="form-group">
                    <label for="id_type_chaussure"> Types chaussure </label><br>
                <select name="id_type_chaussure" required>
                    <option value="">Sélectionner un type de chaussure</option>
                    {% for type_chaussure in types_chaussures %}
                        <option value="{{ type_chaussure.id_type_chaussure }}"> {{ type_chaussure.nom_type_chaussure }} </option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group">
                    <label for="prix_chaussure">Prix</label><br>
                    <input id="prix_chaussure" type="number" name="prix_chaussure" size="18" value=""
                           placeholder="Saisir le prix ">
                    <br>
                </div>
                <div class="form-group">
                    <label for="stock_chaussure">Stock</label><br>
                    <input id="stock_chaussure" type="number" name="stock_chaussure" size="18" value=""
                           placeholder="Saisir le stock ">
                    <br>
                </div>
                <div class="form-group">
                    <label for="marque_chaussure">Marque de chaussure</label><br>
                    <input id="marque_chaussure" type="text" name="marque_chaussure" size="18" value=""
                           placeholder="Saisir la marque ">
                    <br>
                </div>
                <div class="form-group">
                    <label for="fournisseur_chaussure">Fournisseur</label><br>
                    <input id="fournisseur_chaussure" type="text" name="fournisseur_chaussure" size="18" value=""
                           placeholder="Saisir le fournisseur ">
                    <br>
                </div>
                <div class="form-group">
                    <label for="image_chaussure"> Image Produit</label><br>
                    <input type="file" name="image_chaussure">
                </div>
                <button type="submit" class="btn btn-primary">Ajouter cette chaussure</button>

            </form>
        </fieldset>
    </form>
{% endblock %}
