{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>Modifier un chaussure</title>
{% endblock %}

{% block body %}
    <h2>Modifier une chaussure</h2>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="post" action="{{ url_for('admin_chaussure.valid_edit_chaussure') }}">
        <fieldset>
            <input type="hidden" name="id_chaussure" size="18" value="{{ chaussure.id_chaussure }}">
            <label for="nom_chaussure">Nom de la chaussure</label><br>
            <input type="text" name="nom_chaussure" size="18" value="{{ chaussure.nom_chaussure }}">
            <br>

            <div class="form-group">
                <label for="id_type_chaussure"> Type chaussure </label>
                <br>
                <select name="id_type_chaussure" required>
                    {% for type_chaussure in types_chaussures %}
                        <option value="{{ type_chaussure.id_type_chaussure }}">{{ type_chaussure.nom_type_chaussure }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="prix_chaussuere">Prix</label><br>
            <input type="number" name="prix_chaussure" size="18" value="{{ chaussure.prix_chaussure }}">
            <br>
            <label for="stock_chaussure"> Stock</label><br>
            <input type="number" name="stock_chaussure" size="18" value="{{ chaussure.stock_chaussure }}">
            <br>
            <div class="form-group">
                <label for="id_marque"> Marque </label>
                <br>
                <select name="id_marque" required>
                    {% for marque in marques %}
                        <option value="{{ marque.id_marque }}">{{ marque.libelle_marque }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="id_fournisseur"> Fournisseur </label>
                <br>
                <select name="id_fournisseur" required>
                    {% for fournisseur in fournisseurs %}
                        <option value="{{ fournisseur.id_fournisseur }}">{{ fournisseur.libelle_fournisseur }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="id_matiere"> Matière </label>
                <br>
                <select name="id_matiere" required>
                    {% for matiere in matieres %}
                        <option value="{{ matiere.id_matiere }}">{{ matiere.libelle_matiere }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="image_chaussure"> Image </label><br>
                <input type="file" name="image_chaussure" size="18" value="{{ chaussure.image_chaussure }}">
                <br>
            </div>

            <input type="hidden" name="id_type_chaussure" size="18" value="{{ chaussure.id_type_chaussure }}">

            <button type="submit" class="btn btn-primary"> Modifier</button>
        </fieldset>
    </form>
{% endblock %}