<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SAE BDD</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}">
    {% endblock %}
</head>
<body>

{% include('auth/_nav.html') %}


{% block body %}
    <img src="static/logo.png" style="width: 50%; height: 50%; text-align:center;">
    <h2 style="color: black ; font-weight: bold ;text-align: center">Bienvenue sur notre site de vente!</h2>
{% endblock %}


{% block javascripts %}
    <script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.js') }}"></script>
{% endblock %}

</body>
</html>
