{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>Afficher les utilisateurs</title>
{% endblock %}

{% block body %}
<h3>Utilisateurs</h3>
<br><br>

<div class="m-5">
<table class="table">
    <thead class="thead-dark">
        <tr>
             <th>Nom d'utilisateur</th>
             <th>ID</th>
             <th>Email</th>
             <th>Role</th>
            <th>Actif ?</th>
        </tr>
    </thead>
    <tbody>
    {% if utilisateurs | length >= 1 %}
        {% for ligne in utilisateurs %}
           <tr>
               <td>{{ ligne.username }}</td>
               <td>{{ ligne.email }}</td>
               <td>{{ ligne.role }}</td>
               {% if ligne.est_actif == 1 %}
                    <td> Oui </td>
                {% else %}
                    <td> Non </td>
                {% endif %}
           </tr>
        {% endfor %}
    {% else %}
          <tr>
              <td>
                  Pas d'utilisateurs.
              </td>
         </tr>
    {% endif %}
    </tbody>
</table>
</div>

{% endblock %}